<div class="modal" tabindex="-1" [class.show]="isVisible" [style.display]="isVisible ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="onCancel()"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onConfirm()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" *ngIf="isVisible" [class.show]="isVisible"></div>
